<a href="https://colab.research.google.com/github/br0ast/ACDH-2020/blob/master/Week_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Week 1 - Python Recap

In this small Jupyter Notebook, we will revise the basics of Python. If you want to get more materials, you can access the Introduction to Programming for Humanists [GitHub Repository](https://github.com/Introduction-to-Programming-FH/IPFH2425), with a whole course about Python. There are plenty of resources for Python, including the [w3school resource with interactive exercises](https://www.w3schools.com/python/)!

This is Jupyter Notebook, a framework where you can write Python (and other PL) code and text. This is a block of text, it is encoded in Markdown. More on markdown in this [Markdown guide](https://www.markdownguide.org/basic-syntax/)

In [3]:
# This is a block of code in Python - with a comment!
# Comments are not run

In [2]:
a = 1 # this is the declaration of the variable a with the starting value  of 1
# 1 is an integer in Python (integer=non decimal number)

In [ ]:
# Other datatypes in python

b = 3.14 # float: decimal number
c = True # boolean, can be either True or False
d = "Hello" # string: contains sets of characters enclosed by "quotation marks"

In [ ]:
# Operations and change of value

a = float(a) # you can change the variable datatypes
print(a) # print is used to display the output of something in the console

1.0

In [ ]:
a = str(a)
print(a)

1.0

In [4]:
a = bool(a) # 1 and 0 can be converted in True (1) and False (0)

In [6]:
print(a)

True

In [10]:
n1 = 10
n2 = 4

print(n1*n2) # multiplication
print(n1+n2) # addition
print(n1-n2) # subtraction
print(n1/n2) # division
print(n1//n2) # integer division
print(n1%n2) # modulo
print(n1**n2) # exponentiation

40
14
6
2.5
2
2
10000

In [8]:
from math import sqrt # you can import additional functions in python

In [11]:
print(sqrt(n2)) #sqrt is a function in the math module to perform squared root

2.0

In [12]:
# Strings are immutable sequences of characters enclosed in ""

this_is_a_string = "Hello, world!"

# You can do many strings operations, remembering that strings are immutable
# so their must be reinstantiated to save the changes

print(this_is_a_string.upper())
print(this_is_a_string)

HELLO, WORLD!
Hello, world!

In [13]:
this_is_a_string = this_is_a_string.upper()
print(this_is_a_string)
print(this_is_a_string.split(" ")) # you can split strings into lists
print("_".join(this_is_a_string.split(" "))) # and join lists into strings

HELLO, WORLD!
['HELLO,', 'WORLD!']
HELLO,_WORLD!

In [14]:
# In python, you can store data in different types of containers, also called
# Data structures

ds1 = ["this", "is", 1, "list", "and", "it can", "contain",
       ["nested", "lists", "inside"],
       "and other types", "of datatypes such as" ,1, 2.3, True]

print(ds1[8]) # you can access elements in lists with the list index
print(ds1[7][1]) # and also nested elements

# lists are mutable you can add and remove elements from them

ds1.append("and so much more")
ds1.remove("this")

and other types
lists

In [15]:
# Sets are unordered sequence of elements and contain only unique
# elements

my_set = {1,2,3,4,4,4,4,4} #the duplicate elements will be eliminated
print(my_set)

# You can add and remove elements with sets and perform sets operations

my_set2 = {4,5}

print(my_set.union(my_set2))

{1, 2, 3, 4}
{1, 2, 3, 4, 5}

In [ ]:
# Tuples are immutable ordered sequences of elements. Because they are
# immutable you cannot remove or add elements from them without recreating the
# tuple

my_tuple = (2,3,4)
my_tuple = (3,4,5) # I am rewriting the variable that contains the tuple
my_tuple[0] # you can access tuples element via the indexing

In [16]:
# Dictionaries are "Unordered" (in the sense that you cannot access elements
# with indexes, but they are actually alphabetically ordered from Python 3.8.
# sequences of key-value pairs, and they are mutable

a_dictionary= {"this(key)":"dictionary(value)", "contains":["a list"], "and":
               {"another":"dictionary"}, "in":"it", "and_numbers":1}

In [17]:
a_dictionary['contains']

['a list']

In [18]:
# You can iterate over elements of sequences with the for loop

my_list = ["x", "D"]
for element in my_list:
    print(element)

x
D

In [19]:
# Conditions, you can execute code based on some conditions,
# the syntax is usually "if <block of conditions that results in a boolean>:
#"do something"
# else:
#"do something else"

a = True
b = False

if a or b:
    print("hello")
else:
    print("bye")

hello

In [20]:
if a and b:
    print("hello")
else:
    print("bye")

bye

In [ ]:
if a and b:
    print("hello")
elif b is True:
    print("bye")
else:
    print("goodbye")

goodbye

In [21]:
# Functions are reusable blocks of code that you can call as many times as you
# want with different (compatible) inputs to get some output

def division_list(list_of_numbers, starting_integer):
    for numb in list_of_numbers:
        starting_integer /= numb # this is a shortcut for saying
        # starting_integer = starting_integer/numb
    return starting_integer

# you can call a previously defined function with the function name and
# adequate parameters, if you give the functions some parameters that it does
# not expect, you might raise an error.
# Documenting functions is important to guide other people not to use your code
# incorrectly

division_list([2,4,5], 199233)

4980.825

In [ ]:
division_list([2,3,6], "apple")

TypeError: unsupported operand type(s) for /=: 'str' and 'int'

In [22]:
# In python, you can read and write files
import csv
with open("newfile.csv", "w+") as newfile:
    newfilewriter = csv.writer(newfile)
    newfilewriter.writerow(["A", "B", "SUM OF A AND B"])
    newfilewriter.writerow([10, 15, 25])
    newfilewriter.writerow([3, 15, 18])

In [23]:
with open("newfile.csv", "r") as readingfile:
    reader = csv.DictReader(readingfile)
    for row in reader:
        print(row["A"])

10
3

# Class Exercise

1. Text to tuples. Develop the function text_to_tuples which takes as an input a string and an integer that would look like this:



```
example_string="My life is better with programming"
example_integer=3
```

And returns a list of tuples. Each tuple contain X words from the string (separate words using the whitespace " ").

For instance, text_to_tuples(example_string, example_integer) would return
```
result = [("My", "life", "is"), ("better","with","programming")]
```
If the sentence cannot be exactly divided by the integer, the last tuple will have less elements than the others.

For instance, text_to_tuples(example_string, 4) would return


```
result = [("My", "life", "is", "better"), ("with, "programming")]
```

# Howework exercise:

1. A dictionary of operations. Develop a function dictionary_of_operations which takes as an input a dictionary with the structure similar to this:

```
example_dictionary = {"numbers1":[2,4,5.9,10], "numbers2":[12,9,10,11], "operations":["sum", "sub", "mult", "div"]}
```
And produces a CSV with the columns number1, number2, operation, result. The csv will be compiled by the numbers in the lists and the results of their operations. Use the index of the list to determine which pairs of numbers are computed. Example: numbers1[0] will be computed with numbers2[0] with the operation operations[0] and so on so forth. The three lists in the dictionary must in fact have the same number of elements! The only available values for operations are: "sum", a normal sum, "sub", a subtraction, "mult", a moltiplication, and "div", a normal (non-integer) division.